/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13ebdd;
    color: #ffffff;
}

/* Header */
header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #f60e0e;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff6600;
}

/* Movie Section */
.top-movies {
    text-align: center;
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    color: #fe0e3a;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    margin-top: 20px;
}
